body {
  background: #000033;
  background-image: url(https://i.postimg.cc/5yXRnZb7/fondo-jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 120%;
  color: rgb(0, 0, 0);
  font-family: "DotGothic16", sans-serif;
  /* este sirve para que la imagen se adapte a la pantalla de la que se llame */
  height: 100vh;
}

.hola {
  color: blue;
}

.poke {
  color: red;
}
header {
  margin-top: 50px;
}

.container {
  width: 500px;
  margin: 0 auto;
  height: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 40px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  /*background: radial-gradient(circle, purple, white 40%, rgb(114, 97, 125));*/
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 5px 6px rgba(0, 0, 0, 0.23);
  font-family: "DotGothic16", sans-serif;
  min-width: 250px;
}

.bus {
  width: 500px;
  margin: 0 auto;
  height: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 80px;
  /*background: radial-gradient(circle, purple, white 40%, rgb(114, 97, 125));*/
  font-family: "DotGothic16", sans-serif;
}

form {
  width: 500px;
  margin: 0 auto;
  height: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 80px;
  font-family: "DotGothic16", sans-serif;
  /* border: 5px solid #ffffff;
    border-radius: 5px;
    /*background: radial-gradient(circle, purple, white 40%, rgb(114, 97, 125));*/
  /* background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 5px 6px rgba(0, 0, 0, 0.23);*/
}

h1 {
  margin-top: 15%;
}

/* top- right-bottom-left*/
.intro {
  text-align: justify;
  padding: 0 30px;
  font-size: 16px;
  white-space: pre-wrap;
  margin-top: -50px;
}

b {
  font-weight: bold;
}

.h2index {
  margin-top: -10%;
}

h2 {
  margin-top: 1%;
}

input {
  font-family: "DotGothic16", sans-serif;
}

input::placeholder {
  color: rgb(39, 75, 166);
}

.buscador {
  /* font-family: 'DotGothic16', sans-serif; */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);
  border: 0;
  border-radius: 3px;
  padding: 8px;
  width: 220px;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 10%;
  /* Antes de aplicar el borde se le pone none */
  /* outline: none; */
}
.buscador:active,
.buscador:focus {
  outline-color: #366aba;
  /*Borde sin accion */
  /* border: 1px solid red; */
}

.container2 {
  display: flex;
  margin-top: 20px;
}

.pokepika {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 70px;
  width: 50px;
  margin-right: 20px;
}

.btn {
  /* font-family: 'DotGothic16', sans-serif; */
  width: 50px;
  text-align: left;
}

.entrar {
  color: #ffffff;
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  text-align: right;
  height: 50%;
}

button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  /*hice que se centrara el botón */
  margin-left: center;
  margin-bottom: 20px;
  background-color: #366aba;
  border: 0.2;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.23);
}

.pokeimg {
  display: none;
}
.pokeimg.show {
  display: block;
}

footer {
  text-align: left;
  margin: 300px 20px 50px;
  /*margin-left: 20px;
  margin-top: 300px;
  margin-bottom: 50px;*/
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.wrapper {
  width: 400px;
  /* height: 20px; */
  margin-top: 20px;
  user-select: none;
  filter: drop-shadow(0 0 4px rgba(164, 161, 161, 0.467));
  overflow: hidden;
}
.title {
  width: 50%;
  height: 20%;
  border-radius: 10px;
  border: 1px solid #999;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: "DotGothic16";
}
.icon {
  cursor: pointer;
  padding: 12px 30px 12px 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
}
.dropdown {
  width: 50%;
  height: auto;
  padding-top: 7px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 15px;
  margin-top: 15px;
  list-style: none;
  isolation: isolate;
  opacity: 0;
  transition: opacity 0, 5 ease;
}
.dropdown::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: inherit;
  border-left: inherit;
  background-color: inherit;
  top: 0;
  right: 30px;
  z-index: -1;
  transform: translateY(-50%) rotate(45deg);
}
.dropdown li {
  color: #555;
  font-size: 15px;
  font: bold;
  border-bottom: 1px solid #ddd;
}
.dropdown li:hover {
  background-color: #e7e7e7;
}
.dropdown li:last-child {
  border: none;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.icon::after {
  content: "";
  width: 22px;
  height: 22px;
  filter: opacity(0.8); /*baja el tono a las imágenes*/
  /* background-color: #ccc; */
  background-image: var(--src);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.active .wrapper .container {
  overflow: visible;
}
.active .dropdown {
  opacity: 1;
}
.active .dropdown {
  opacity: 1;
}

h5 {
  margin-top: 0px;
}

@media (min-width: 767px) {
  body {
    background-image: url(https://i.postimg.cc/5yXRnZb7/fondo-jpg.jpg);
  }
}

@media (min-width: 480px) {
  body {
    background-image: url(https://i.postimg.cc/5yXRnZb7/fondo-jpg.jpg);
  }
}
